<h2> Task 1: 
 
<h5> 1.  
Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows: 
 
<br> The moving average sequence has n-k+1 elements as shown below. 
 
The moving averages with k=4 of a ten-value sequence (n=10) is shown below 
 
   i     1   2   3   4   5   6   7   8   9 10 
   <br> &emsp;=====  ==  ==  ==  ==  ==  ==  ==  ==  ==  == 
   
   <br> Input  10  20  30  40  50  60  70  80  90 100 
   <br> y1 &emsp;   25 = (10+20+30+40)/4 
   <br> y2 &emsp;&emsp;&emsp;        35 = (20+30+40+50)/4 
   <br> y3 &emsp;&emsp;&emsp; &emsp;            45 = (30+40+50+60)/4 
   <br> y4 &emsp; &emsp; &emsp; &emsp; &emsp;                55 = (40+50+60+70)/4 
   <br> y5  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;                    65 = (50+60+70+80)/4 
   <br> y6  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;                        75 = (60+70+80+90)/4 
   <br> y7  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;                            85 = (70+80+90+100)/4 
 
Thus, the moving average sequence has n-k+1=10-4+1=7 values. 



<h4> Problem Statement: 
    <br>
<br> Write a function to find moving average in an array over a window: 
 
<br> Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np

input_array = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
window = 3
moving_average_list = []

for start_index in range(0,len(input_array)):
    end_index = start_index + window
    if end_index > len(input_array):
        break
    windowed_array = np.take(input_array, range(start_index, end_index))
    
    print ("Calculating average for windowed array " + str(windowed_array) )
    result_avg = np.average(windowed_array)
    
    moving_average_list.append(result_avg)


print ("Final list of moving avg =>  " + str(moving_average_list))

Calculating average for windowed array [3 5 7]
Calculating average for windowed array [5 7 2]
Calculating average for windowed array [7 2 8]
Calculating average for windowed array [ 2  8 10]
Calculating average for windowed array [ 8 10 11]
Calculating average for windowed array [10 11 65]
Calculating average for windowed array [11 65 72]
Calculating average for windowed array [65 72 81]
Calculating average for windowed array [72 81 99]
Calculating average for windowed array [ 81  99 100]
Calculating average for windowed array [ 99 100 150]
Final list of moving avg =>  [5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

<h3> Task 2: 
 
<h4> 1.  
How-to-count-distance-to-the-previous-zero 
<br> For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)  
create a new column 'Y' 
Consider a DataFrame df where there is an integer column 'X' 


import pandas as pd 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd

df = pd.DataFrame({'x': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
dist=[]
arr = df['x'].to_list()
a=0
for i in arr:
    if i !=0:
        a=a+1
    else:
        a=0
    dist.append(a)
    
df['y'] =pd.Series(dist)
df

   x  y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

<h4> 2. 
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of                  random numbers.

In [3]:
dates = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
df = pd.Series(np.random.randint(len(dates)), index=dates)

In [4]:
df.head(15)

2015-01-01    90
2015-01-02    90
2015-01-05    90
2015-01-06    90
2015-01-07    90
2015-01-08    90
2015-01-09    90
2015-01-12    90
2015-01-13    90
2015-01-14    90
2015-01-15    90
2015-01-16    90
2015-01-19    90
2015-01-20    90
2015-01-21    90
Freq: B, dtype: int64

<h4> 3. Find the sum of the values in s for every Wednesday

In [5]:
df[dates.weekday ==2].sum()

4680

<h4> 4.  Average For each calendar month

In [6]:
df.resample('M').mean()

2015-01-31    90
2015-02-28    90
2015-03-31    90
2015-04-30    90
2015-05-31    90
2015-06-30    90
2015-07-31    90
2015-08-31    90
2015-09-30    90
2015-10-31    90
2015-11-30    90
2015-12-31    90
Freq: M, dtype: int64

<h4> 5.  
For each group of four consecutive calendar months in s, find the date on which the highest                 value occurred.

In [7]:
df.groupby(pd.Grouper(freq='4M')).idxmax()[0:4]

2015-01-31   2015-01-01
2015-05-31   2015-02-02
2015-09-30   2015-06-01
2016-01-31   2015-10-01
Freq: 4M, dtype: datetime64[ns]