<h2> Task 1:

<h3> 1) Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
num = []

for i in range(2000, 3201):
    if i/5 != 0 and i% 7 == 0:
        num.append(i)
print(num)

[2002, 2009, 2016, 2023, 2030, 2037, 2044, 2051, 2058, 2065, 2072, 2079, 2086, 2093, 2100, 2107, 2114, 2121, 2128, 2135, 2142, 2149, 2156, 2163, 2170, 2177, 2184, 2191, 2198, 2205, 2212, 2219, 2226, 2233, 2240, 2247, 2254, 2261, 2268, 2275, 2282, 2289, 2296, 2303, 2310, 2317, 2324, 2331, 2338, 2345, 2352, 2359, 2366, 2373, 2380, 2387, 2394, 2401, 2408, 2415, 2422, 2429, 2436, 2443, 2450, 2457, 2464, 2471, 2478, 2485, 2492, 2499, 2506, 2513, 2520, 2527, 2534, 2541, 2548, 2555, 2562, 2569, 2576, 2583, 2590, 2597, 2604, 2611, 2618, 2625, 2632, 2639, 2646, 2653, 2660, 2667, 2674, 2681, 2688, 2695, 2702, 2709, 2716, 2723, 2730, 2737, 2744, 2751, 2758, 2765, 2772, 2779, 2786, 2793, 2800, 2807, 2814, 2821, 2828, 2835, 2842, 2849, 2856, 2863, 2870, 2877, 2884, 2891, 2898, 2905, 2912, 2919, 2926, 2933, 2940, 2947, 2954, 2961, 2968, 2975, 2982, 2989, 2996, 3003, 3010, 3017, 3024, 3031, 3038, 3045, 3052, 3059, 3066, 3073, 3080, 3087, 3094, 3101, 3108, 3115, 3122, 3129, 3136, 3143, 3150, 3157, 3164, 3171, 3178, 3185, 3192, 3199]

<h3> 2) Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [2]:
fname = input("what is your first name? ")
lname = input("what is your last name? ")

rfname = fname[::-1]
rlname = lname[::-1]
print(rlname+ " "+ rfname)

what is your first name? Satyendra
what is your last name? Gupta
atpuG ardneytaS

<h3> 3) Write a Python program to find the volume of a sphere with diameter 12 cm.  
 
Formula: V=4/3 * Ï€ * r 3

In [3]:
D= 12.0
r=D/2
pi= 3.14

volume = 4/3*pi*(r**3)
print("Volume of a sphere with diameter {} cm {} cm3 " .format(D, round(volume,2)))

Volume of a sphere with diameter 12.0 cm 904.32 cm3

<h2> Task 2:

<h3> 1) Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [8]:
nos = int(input("How many numbers would you input?"))
seq= []

for i in range(nos):
    if i==0:
        seq.append(input("Enter your first number "))
    else:
        seq.append(input("Enter your next number "))
        
print(seq)

How many numbers would you input?9
Enter your first number 1
Enter your next number 2
Enter your next number 3
Enter your next number 4
Enter your next number 6
Enter your next number 8
Enter your next number 92
Enter your next number 24
Enter your next number 525
['1', '2', '3', '4', '6', '8', '92', '24', '525']

<h3> 2) Create the below pattern using nested for loop in Python. 
 <br>   <br> *  <br>* *<br>  * * *<br>  * * * * <br> * * * * * <br> * * * *  <br>* * * <br> * * <br> *

In [5]:
n=int(input("Enter max number of Stars (**)"))
for i in range(1,n,1):
    print("*"*i)
    i=i+1
    if i==n:
        for j in range(n,0,-1):
            print("*"*j)
            j=j-1

Enter max number of Stars (**)15
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

<h3> 3) Write a Python program to reverse a word after accepting the input from the user.

In [6]:
str = input("Enter something ")
            
print(str[::-1])

Enter something Hello World!
!dlroW olleH

In [7]:
str1 =" WE, THE PEOPLE OF INDIA," 
str2 = "having solemnly resolved to constitute India into a SOVEREIGN,"
str3 = "SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"
str4 = "and to secure to all its citizens"

print("{}\n     {}!\n           {}\n            {}" .format(str1,str2,str3,str4))

 WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN,!
           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
            and to secure to all its citizens